#downloads-button[progress][style*="1"] #downloads-indicator-progress-inner
{
	animation-delay: -1s;
}

#downloads-button[progress][style*="2"] #downloads-indicator-progress-inner
{
	animation-delay: -2s;
}

#downloads-button[progress][style*="3"] #downloads-indicator-progress-inner
{
	animation-delay: -3s;
}

#downloads-button[progress][style*="4"] #downloads-indicator-progress-inner
{
	animation-delay: -4s;
}

#downloads-button[progress][style*="5"] #downloads-indicator-progress-inner
{
	animation-delay: -5s;
}

#downloads-button[progress][style*="6"] #downloads-indicator-progress-inner
{
	animation-delay: -6s;
}

#downloads-button[progress][style*="7"] #downloads-indicator-progress-inner
{
	animation-delay: -7s;
}

#downloads-button[progress][style*="8"] #downloads-indicator-progress-inner
{
	animation-delay: -8s;
}

#downloads-button[progress][style*="9"] #downloads-indicator-progress-inner
{
	animation-delay: -9s;
}

#downloads-button[progress][style*="10"] #downloads-indicator-progress-inner
{
	animation-delay: -10s;
}

#downloads-button[progress][style*="11"] #downloads-indicator-progress-inner
{
	animation-delay: -11s;
}

#downloads-button[progress][style*="12"] #downloads-indicator-progress-inner
{
	animation-delay: -12s;
}

#downloads-button[progress][style*="13"] #downloads-indicator-progress-inner
{
	animation-delay: -13s;
}

#downloads-button[progress][style*="14"] #downloads-indicator-progress-inner
{
	animation-delay: -14s;
}

#downloads-button[progress][style*="15"] #downloads-indicator-progress-inner
{
	animation-delay: -15s;
}

#downloads-button[progress][style*="16"] #downloads-indicator-progress-inner
{
	animation-delay: -16s;
}

#downloads-button[progress][style*="17"] #downloads-indicator-progress-inner
{
	animation-delay: -17s;
}

#downloads-button[progress][style*="18"] #downloads-indicator-progress-inner
{
	animation-delay: -18s;
}

#downloads-button[progress][style*="19"] #downloads-indicator-progress-inner
{
	animation-delay: -19s;
}

#downloads-button[progress][style*="20"] #downloads-indicator-progress-inner
{
	animation-delay: -20s;
}

#downloads-button[progress][style*="21"] #downloads-indicator-progress-inner
{
	animation-delay: -21s;
}

#downloads-button[progress][style*="22"] #downloads-indicator-progress-inner
{
	animation-delay: -22s;
}

#downloads-button[progress][style*="23"] #downloads-indicator-progress-inner
{
	animation-delay: -23s;
}

#downloads-button[progress][style*="24"] #downloads-indicator-progress-inner
{
	animation-delay: -24s;
}

#downloads-button[progress][style*="25"] #downloads-indicator-progress-inner
{
	animation-delay: -25s;
}

#downloads-button[progress][style*="26"] #downloads-indicator-progress-inner
{
	animation-delay: -26s;
}

#downloads-button[progress][style*="27"] #downloads-indicator-progress-inner
{
	animation-delay: -27s;
}

#downloads-button[progress][style*="28"] #downloads-indicator-progress-inner
{
	animation-delay: -28s;
}

#downloads-button[progress][style*="29"] #downloads-indicator-progress-inner
{
	animation-delay: -29s;
}

#downloads-button[progress][style*="30"] #downloads-indicator-progress-inner
{
	animation-delay: -30s;
}

#downloads-button[progress][style*="31"] #downloads-indicator-progress-inner
{
	animation-delay: -31s;
}

#downloads-button[progress][style*="32"] #downloads-indicator-progress-inner
{
	animation-delay: -32s;
}

#downloads-button[progress][style*="33"] #downloads-indicator-progress-inner
{
	animation-delay: -33s;
}

#downloads-button[progress][style*="34"] #downloads-indicator-progress-inner
{
	animation-delay: -34s;
}

#downloads-button[progress][style*="35"] #downloads-indicator-progress-inner
{
	animation-delay: -35s;
}

#downloads-button[progress][style*="36"] #downloads-indicator-progress-inner
{
	animation-delay: -36s;
}

#downloads-button[progress][style*="37"] #downloads-indicator-progress-inner
{
	animation-delay: -37s;
}

#downloads-button[progress][style*="38"] #downloads-indicator-progress-inner
{
	animation-delay: -38s;
}

#downloads-button[progress][style*="39"] #downloads-indicator-progress-inner
{
	animation-delay: -39s;
}

#downloads-button[progress][style*="40"] #downloads-indicator-progress-inner
{
	animation-delay: -40s;
}

#downloads-button[progress][style*="41"] #downloads-indicator-progress-inner
{
	animation-delay: -41s;
}

#downloads-button[progress][style*="42"] #downloads-indicator-progress-inner
{
	animation-delay: -42s;
}

#downloads-button[progress][style*="43"] #downloads-indicator-progress-inner
{
	animation-delay: -43s;
}

#downloads-button[progress][style*="44"] #downloads-indicator-progress-inner
{
	animation-delay: -44s;
}

#downloads-button[progress][style*="45"] #downloads-indicator-progress-inner
{
	animation-delay: -45s;
}

#downloads-button[progress][style*="46"] #downloads-indicator-progress-inner
{
	animation-delay: -46s;
}

#downloads-button[progress][style*="47"] #downloads-indicator-progress-inner
{
	animation-delay: -47s;
}

#downloads-button[progress][style*="48"] #downloads-indicator-progress-inner
{
	animation-delay: -48s;
}

#downloads-button[progress][style*="49"] #downloads-indicator-progress-inner
{
	animation-delay: -49s;
}

#downloads-button[progress][style*="50"] #downloads-indicator-progress-inner
{
	animation-delay: -50s;
}

#downloads-button[progress][style*="51"] #downloads-indicator-progress-inner
{
	animation-delay: -51s;
}

#downloads-button[progress][style*="52"] #downloads-indicator-progress-inner
{
	animation-delay: -52s;
}

#downloads-button[progress][style*="53"] #downloads-indicator-progress-inner
{
	animation-delay: -53s;
}

#downloads-button[progress][style*="54"] #downloads-indicator-progress-inner
{
	animation-delay: -54s;
}

#downloads-button[progress][style*="55"] #downloads-indicator-progress-inner
{
	animation-delay: -55s;
}

#downloads-button[progress][style*="56"] #downloads-indicator-progress-inner
{
	animation-delay: -56s;
}

#downloads-button[progress][style*="57"] #downloads-indicator-progress-inner
{
	animation-delay: -57s;
}

#downloads-button[progress][style*="58"] #downloads-indicator-progress-inner
{
	animation-delay: -58s;
}

#downloads-button[progress][style*="59"] #downloads-indicator-progress-inner
{
	animation-delay: -59s;
}

#downloads-button[progress][style*="60"] #downloads-indicator-progress-inner
{
	animation-delay: -60s;
}

#downloads-button[progress][style*="61"] #downloads-indicator-progress-inner
{
	animation-delay: -61s;
}

#downloads-button[progress][style*="62"] #downloads-indicator-progress-inner
{
	animation-delay: -62s;
}

#downloads-button[progress][style*="63"] #downloads-indicator-progress-inner
{
	animation-delay: -63s;
}

#downloads-button[progress][style*="64"] #downloads-indicator-progress-inner
{
	animation-delay: -64s;
}

#downloads-button[progress][style*="65"] #downloads-indicator-progress-inner
{
	animation-delay: -65s;
}

#downloads-button[progress][style*="66"] #downloads-indicator-progress-inner
{
	animation-delay: -66s;
}

#downloads-button[progress][style*="67"] #downloads-indicator-progress-inner
{
	animation-delay: -67s;
}

#downloads-button[progress][style*="68"] #downloads-indicator-progress-inner
{
	animation-delay: -68s;
}

#downloads-button[progress][style*="69"] #downloads-indicator-progress-inner
{
	animation-delay: -69s;
}

#downloads-button[progress][style*="70"] #downloads-indicator-progress-inner
{
	animation-delay: -70s;
}

#downloads-button[progress][style*="71"] #downloads-indicator-progress-inner
{
	animation-delay: -71s;
}

#downloads-button[progress][style*="72"] #downloads-indicator-progress-inner
{
	animation-delay: -72s;
}

#downloads-button[progress][style*="73"] #downloads-indicator-progress-inner
{
	animation-delay: -73s;
}

#downloads-button[progress][style*="74"] #downloads-indicator-progress-inner
{
	animation-delay: -74s;
}

#downloads-button[progress][style*="75"] #downloads-indicator-progress-inner
{
	animation-delay: -75s;
}

#downloads-button[progress][style*="76"] #downloads-indicator-progress-inner
{
	animation-delay: -76s;
}

#downloads-button[progress][style*="77"] #downloads-indicator-progress-inner
{
	animation-delay: -77s;
}

#downloads-button[progress][style*="78"] #downloads-indicator-progress-inner
{
	animation-delay: -78s;
}

#downloads-button[progress][style*="79"] #downloads-indicator-progress-inner
{
	animation-delay: -79s;
}

#downloads-button[progress][style*="80"] #downloads-indicator-progress-inner
{
	animation-delay: -80s;
}

#downloads-button[progress][style*="81"] #downloads-indicator-progress-inner
{
	animation-delay: -81s;
}

#downloads-button[progress][style*="82"] #downloads-indicator-progress-inner
{
	animation-delay: -82s;
}

#downloads-button[progress][style*="83"] #downloads-indicator-progress-inner
{
	animation-delay: -83s;
}

#downloads-button[progress][style*="84"] #downloads-indicator-progress-inner
{
	animation-delay: -84s;
}

#downloads-button[progress][style*="85"] #downloads-indicator-progress-inner
{
	animation-delay: -85s;
}

#downloads-button[progress][style*="86"] #downloads-indicator-progress-inner
{
	animation-delay: -86s;
}

#downloads-button[progress][style*="87"] #downloads-indicator-progress-inner
{
	animation-delay: -87s;
}

#downloads-button[progress][style*="88"] #downloads-indicator-progress-inner
{
	animation-delay: -88s;
}

#downloads-button[progress][style*="89"] #downloads-indicator-progress-inner
{
	animation-delay: -89s;
}

#downloads-button[progress][style*="90"] #downloads-indicator-progress-inner
{
	animation-delay: -90s;
}

#downloads-button[progress][style*="91"] #downloads-indicator-progress-inner
{
	animation-delay: -91s;
}

#downloads-button[progress][style*="92"] #downloads-indicator-progress-inner
{
	animation-delay: -92s;
}

#downloads-button[progress][style*="93"] #downloads-indicator-progress-inner
{
	animation-delay: -93s;
}

#downloads-button[progress][style*="94"] #downloads-indicator-progress-inner
{
	animation-delay: -94s;
}

#downloads-button[progress][style*="95"] #downloads-indicator-progress-inner
{
	animation-delay: -95s;
}

#downloads-button[progress][style*="96"] #downloads-indicator-progress-inner
{
	animation-delay: -96s;
}

#downloads-button[progress][style*="97"] #downloads-indicator-progress-inner
{
	animation-delay: -97s;
}

#downloads-button[progress][style*="98"] #downloads-indicator-progress-inner
{
	animation-delay: -98s;
}

#downloads-button[progress][style*="99"] #downloads-indicator-progress-inner
{
	animation-delay: -99s;
}